body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.main-header {
    /* margin: 0 20px; */
    max-width: 70vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}



.slice {
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    min-height: 100px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.17);
    transition: opacity 200ms ease-in;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.slice.dragging {
    opacity: 0.3;
}

.slice .body {
    padding: 10px;
    overflow: hidden;
    flex-grow: 1;
}

.slice .header {
    padding: 5px 10px;
    /* color: white; */
    background: #efefef;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;

    display: flex;

}


.slice .header .button {
    border-radius: 3px;
    font-size: 17px;
    margin: 0 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    right: -6px;
    padding: 2px 5px;
    color: gray;
}

.slice .header .button:hover {
  color: black;
}

.slice .header .button.active {
    color: purple;
}

.title {
    font-size: medium;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}




.slice .footer {
    padding: 5px 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #d8d8d8;
}



.time-slider {
    width: 100%;
    position: relative;
    left: -2px;
}

.widget {
    flex-grow: 1;
}

.CodeMirror {
    height: auto !important;
    min-height: 100px;
    font-size: 13px;
}

.editor .CodeMirror pre {
    padding: 0 10px;
}

.editor .CodeMirror-lines {
    padding: 10px 0;
}


.deleted {
    color: #b30000;
    background: #fadad7;
}

.inserted {
    background: #eaf2c2;
    color: #406619;
}

.line-inserted {
    background: #c9f1c9;
}

.line-changed {
    background: #ffffbb;
}


.line-removed {
    background: #ffd7d7;
    padding: 0 10px;
}


span.result {
    background: #dedede;
    padding: 0 4px;
    margin: 0 5px;
    border-radius: 2px;
}

.slice.reference {
    box-shadow: 1px 2px 7px rgba(94, 8, 148, 0.27);
}

.slice.reference .header {
    background: #f2eaff
}
