body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.header {
	margin: 20px;
}

.controls {
	margin: 20px;
}

label {
	font-size: small;
}

label[disabled] {
	color: gray;
}

.title {
	font-size: large;
	width: 100%;
	border: none;
}

.container {
	display: flex;
	margin: 10px;
	flex-wrap: wrap;
}

h1 span {
	font-weight: normal;
	font-size: small;
}

textarea {
	width: 100%;
	height: 200px;
}

circle.active {
	fill: white;
}

rect.mainline {

}
.editor {
	border: 1px solid #dddddd;
	margin-bottom: 10px;
}

.deleted {
    color: #b30000;
    background: #fadad7;
}

.inserted {
	background: #eaf2c2;
    color: #406619;
}

.artboard {
    border: 1px solid #dddddd;
    border-radius: 3px;
    background: #fdfdfd;
    padding: 10px;
    margin: 10px;
    width: 400px;
    flex-grow: 0;
    flex-shrink: 1;
}

.artboard.focused {
	border-color: #bf96bf;
}

rect.inactive {
	fill: #bbb;
}

rect.active {
	fill: red;
}

.genesis {
	fill: black;
}


text {
    alignment-baseline: central;
    fill: white;
    font-size: small;
    pointer-events: none;
    -webkit-user-select: none;
}


.titlebar {
	display: flex;
	margin-bottom: 10px;

	
}

.title-controls {
	white-space: nowrap;
}

line.mainline {
	stroke: black;
	stroke-width: 2;
}

line.inactive {
	stroke: #bbb;
	stroke-width: 1;
}

svg.dag {
	width: 100%;
	margin-top: 10px;
}

input.linear {
	width: 100%;
}